// Original Theme
$primary-color-link:#BC6FF1;
$primary-color-link-hover:#52057B;
$primary-color-back-to-top-hover:#BC6FF1;
$primary-color-portfolio-hover: #BC6FF1;
$primary-color-about-icon: #892CDC;
$primary-color-testimonial-quote-icon:#BC6FF1;
$primary-color-progressbar-wrap:#210431;
$breadcrumb-background:#BC6FF1;
$section-gradient-background-start: #000;
$section-gradient-background-end: #210431;

$primary-white:#000;
$secondary-heading-h2:#fff;
$secondary-resume-box-text-background:#310549;

$secondary-heading:rgb(238, 238, 238);
$secondary-section-heading-h2:#eee;
$secondary-headint-h4-testimonial:#eee;
$secondary-paragraph-contact: #eee;
$secondary-count-box-link:#eee;
$secondary-resume-title:#eee;


$services-icon-box-shadow: rgba(68, 88, 144, 0.2);
$certificate-box-link:#eee;
$breadcrumb-list:#eee;

$contact-form-error: #ed3c0d;
$contact-form-sent:#18d26e;

$navbar-mobile-background: rgba(13, 21, 29, 0.6);
$navbar-mobile-dropdown-shadow: rgba(127, 137, 161, 0.25);
$box-shadow-transparent-high: rgba(0, 0, 0, 0.12);
$box-shadow-portfolio-info: rgba(44, 73, 100, 0.08);
$box-shadow-portfolio-wrap: rgba(44, 73, 100, 0.6);

$body-background:#eee;