// Original Theme
$primary-color-link:#d43076;
$primary-color-link-hover:#dd5a92;
$primary-color-back-to-top-hover:#db528c;
$primary-color-testimonial-quote-icon:#f7d9e6;
$primary-color-progressbar-wrap:#fbeaf1;
$primary-color-portfolio-hover: #e684ae;
$primary-color-about-icon: #eeafca;

$section-gradient-background-start: #f2f6f9;
$section-gradient-background-end: #fff;
$primary-white:#fff;


$secondary-heading:#2c4964;
$secondary-heading-h2:#eee;
$secondary-section-heading-h2:#345676;
$secondary-headint-h4-testimonial:#6b96be;
$secondary-paragraph-contact: #3c6387;
$secondary-count-box-link:#437099;
$secondary-resume-title:#4b7dab;
$secondary-resume-box-text-background:#e4ebf3;

$services-icon-box-shadow: rgba(68, 88, 144, 0.2);
$certificate-box-link:#111;
$breadcrumb-list:#6c757d;
$breadcrumb-background:#fcf2f7;


$contact-form-error: #ed3c0d;
$contact-form-sent:#18d26e;

$navbar-mobile-background: rgba(13, 21, 29, 0.6);
$navbar-mobile-dropdown-shadow: rgba(127, 137, 161, 0.25);
$box-shadow-transparent-high: rgba(0, 0, 0, 0.12);
$box-shadow-portfolio-info: rgba(44, 73, 100, 0.08);
$box-shadow-portfolio-wrap: rgba(44, 73, 100, 0.6);


$body-background:#5a656e;